/***

====================================================================
Colors
====================================================================

 ***/

:root {
    --main-dark1-color: #172134;
    --main-dark2-color: #0F52BA;
    --main-light1-color: #FA8072;
    --main-light2-color: #FFDAB9;
}