
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');
#countdown {
    padding: 50px 30px;
    font-family: Raleway;
    text-align: center;
}
#countdown .days span,#countdown .hours span,#countdown .minutes span,#countdown .seconds span{
display: block;
padding: 5px;
}
#countdown h1{
    font-size: 20px;
    color: #262626;
}
#countdown  .time{
    font-family: Raleway;
    position: relative;
    border: 2px solid white;
    padding: 20px 10px;
    font-size: 30px;
    font-weight: 700;
    background: #262626;
    color: #fff;
    
}
#countdown .seconds{
    background: #e91e63;
}
#countdown .time::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;;
    background: rgba(255, 255, 255, .2);
}
@media(max-width:700px){
#countdown .time{
    font-size: 15px;
    font-weight: 100;
}    
#countdown h1{
    font-size: 40px;
    padding: 0 0 30px 0;
}
}
@media(min-width:700px){
    #countdown h1{
        font-size: 40px;
        padding: 40px 0 0 0;
    }
}