
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');
#countdown {
    padding: 50px 30px;
    font-family: Raleway;
    text-align: center;
    background: #e04f5d;
}
#countdown .days span,#countdown .hours span,#countdown .minutes span,#countdown .seconds span{
display: block;
padding: 5px;
}
#countdown h1{
    font-size: 20px;
    color: #fff;
}
#countdown  .time{
    font-family: Raleway;
    border: 2px solid white;
    padding: 20px 10px;
    font-size: 30px;
    font-weight: 700;
    background: #fff;
    color: #e04f5d;
}
@media(max-width:700px){
#countdown .time{
    font-size: 15px;
    font-weight: 100;
}    
#countdown h1{
    font-size: 40px;
    padding: 0 0 30px 0;
}
}
@media(min-width:700px){
    #countdown h1{
        font-size: 40px;
        padding: 40px 0 0 0;
    }
}