body {
    background-image: url("../images/error/background.png");
    background-position: center;
    background-repeat: no-repeat;
}

#cover {
    display: block;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

#main {
    text-align: center;
    left: 50%;
    top: 50%;
    height: 100%;
    max-width: 600px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
    color: white;
    font-size: 200px;
    padding: 20px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

h2 {
    color: white;
    font-size: 30px;
    padding: 20px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

p {
    color: white;
    font-size: 20px;
    padding: 10px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.notfound-404 h1>span {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-image: url('../images/error/emoji.png');
    background-size: cover;
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: -1;
}

#home-button {
    text-align: center;
    position: relative;
    height: 75px;
    padding-top: 20px;
}

#hero {
    padding: 15px 35px;
    background-color: #f99827;
    border-radius: 40px;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#hero:hover {
    background-color: #f5b265;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}