.gallery {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: calc(200px*0.667);
    margin-bottom: 150px;
}

.image:hover img{
    transform: scale(1.1);
}

.image.tall:hover img{
    transform: translate(-50%, -50%) scale(1.1);
}

.image a{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image img{
    display: block;
    width: 100%;
    transition: transform 0.4s ease-out;
}

.image.tall img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image.tall {
    grid-row: span 2;
}

@media (max-width: 992px){
    .image.tall {
        grid-row: span 1;
    }
}