#form{
   
    margin-left: 50px;
    
}
/* .form-row{
    display: grid;
    grid-template-columns:  repeat(3 , 100px);
} */
.form-control{
    margin-top: 5px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 500px) {
    #form{
        margin-left: 0px;
    }
    
}