/* colors */
:root {
    --main-dark1-color: #172134;
    --main-dark2-color: #0F52BA;
    --main-light1-color: #FA8072;
    --main-light2-color: #FFDAB9;
    --background-color: rgb(243, 243, 243);
}
.pro_btn{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    width: 200px;
    margin-left: 20px;
    height: fit-content;
    border-radius: 30px;
    box-shadow: 0 10px 15px rgba(66, 66, 66, 0.185);
}
.pro_details{
    display: flex;
    flex-direction: column;
    /* padding-top: 100px; */
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    margin-top: 150px;
    padding: 80px;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid var(--main-dark1-color); */
    background-color: #fa807221;
    box-shadow: 0 10px 15px rgba(66, 66, 66, 0.185);
}
.edit_details{
   width: 60%;
}
.profile_details{
    display: grid;
    grid-template-columns: repeat(2, 250px);
    margin-top: 10px;
    
}
.pro_details p{
    font-size: 1.5rem;
    color: var(--main-dark1-color);
}
.pro_details h2{
    font-size: 25px;
}

.conf_hr{
    background: var(--main-dark1-color);
    width: 300px;
    height: 2px;
    margin-left: 0px;
}

.pro_btn a{
    text-decoration: none;
    background-color: transparent;
    color: var(--main-light1-color);
}
.pro_btn button{
    width: 100%;
    font-size: 2rem;
    text-align: left;
    padding: 10px;
    background-color: transparent;
    background: #feefed;
    text-align: center;
}
.pro_btn .active_pro{
    /* border-bottom: 2px solid var(--main-dark1-color); */
    color: var(--main-dark1-color);
}
.pro_btn button:hover{
    /* border-bottom: 2px solid var(--main-dark1-color); */
    color: var(--main-dark1-color);
}
.profile_personal{
    display: flex;
    flex-direction: row;
}

.edit_fill{
    width: 350px;
}
.edit-fill-form{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: transparent;
    background-image: none;
    border: none;
    border-bottom: 2px solid rgb(182, 175, 175);
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    /* -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%); */
    /* box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%); */
    /* -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.out_btn{
    width: 170px;
    margin: 10px;
}
.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}
.icon p{
    text-align: center;
}
.profile_out_icon{
    margin-top: 60px;
    margin-bottom: 20px;
    height: 180px;
    width: auto;
}
.btn_out{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.proHead{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}
.proHead img{
    width: auto;
    height: 5rem;
}
.proHeadDet{
    margin-left: 20px;
}
.proHeadDet h2{
    font-size: 2rem;
}
@media only screen and (max-width:1600px) {
    .edit_details{
        width: 50%;
    }
}

@media only screen and (max-width:1300px) {
    .edit_details{
        width: 55%;
    }
}
@media only screen and (max-width:1200px) {
    .edit_details{
        width: 60%;
    }
}
@media only screen and (max-width:1100px) {
    .edit_details{
        width: 70%;
    }
}
@media only screen and (max-width:1100px){
    .edit-fill-form{
        width: 100%;
    }
}
@media only screen and (max-width:900px){
    .profile_personal{
        flex-direction: column;
    }
    .pro_details{
        width: 90%;
        padding: 30px;
        margin-top: 20px;
    }
    
    .pro_btn{
        /* padding-top: 110px; */
        width: 230px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 110px;
    }
    .conf_hr{
        width: 60%;
    }
    .profile_details{
        grid-template-columns: revert;
        grid-template-rows: repeat(2, auto);
    }
   .edit_fill{
       width: 250px;
   }
}
@media only screen and (max-width:500px){
    .conf_hr{
        width: 90%;
    }
}

.conf_box{
    padding: 40px;
    color: black;
    background-color: #feefed;
    box-shadow: 0 10px 15px rgb(66 66 66 / 19%);
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
}

#myId{
    display: flex;
    justify-content: center;
}

#myId button img{
    height: 25px;
    width: auto;
}
#myId button img:hover{
    box-shadow: 0 10px 15px rgb(66 66 66 / 19%);

}

#custom-tooltip {
    display: none;
    /* margin-left: 40px; */
    /* padding: 5px 12px; */
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    color: black;
    font-size: 15px;
}