:root {
    --main-dark1-color: #172134;
    --main-dark2-color: #0F52BA;
    --main-light1-color: #FA8072;
    --main-light2-color: #FFDAB9;
}

.regPlayerForm{
    display: flex;
    justify-content: center;
}
.signInBtn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.selectForm{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: transparent;
    background-image: none;
    border: none;
    border-bottom: 2px solid rgb(182, 175, 175);
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    /* -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%); */
    /* box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%); */
    /* -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.signInForm{
    display: flex;
    flex-direction: column;
    /* padding-top: 100px; */
    width: fit-content;
    border-radius: 10px;
    /* margin-top: 150px; */
    padding: 45px 30px;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid var(--main-dark1-color); */
    background-color: #fa807221;
    box-shadow: 0 10px 15px rgba(66, 66, 66, 0.185);
}
.reg_PlayerForm{
    width: 600px;
}
.form-control-new{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: transparent;
    background-image: none;
    border: none;
    border-bottom: 2px solid rgb(182, 175, 175);
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    /* -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%); */
    /* box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%); */
    /* -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-group label{
    color: var(--main-dark1-color);
    margin-bottom: 0px;
    margin-top: 7px;
}
.signInInput{
    width: 100%;
}
.regPlayerSubmit{
    width:100%; 
    display:flex; 
    justify-content:center; 
    margin-top:20px;
}

@media only screen and (max-width:800px) {
    .regPlayerForm{
        flex-direction: column;
        justify-content: flex-start;
 
    }
    input[type=password]{
        width: 100%;
    }
    .selectForm{
        width: 100%;
    }
    .signInForm{
        width: 350px;
        padding: 30px 7px;
    }
    .signInInput{
        width: 200px;
    }
    .regPlayerSubmit{
        justify-content: flex-start;
    }
    .form-control-new{
        width: 100%;
    }
    
}
@media only screen and (max-width:400px) {
    .signInForm{
        width: 100%;
    }
    .regPlayerForm{
        padding: 0px 20px;
    }
}