@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background-color: black;
}

#content{
    height: auto;
    min-height: 100vh;
}

.theme-title{
    position: relative;
}

.theme-title h2{
    color: white;
    transition: all 0.2s;
}

.theme-title h2:hover{
    text-shadow: 2px 3px #ff0044;
}

.team{
    display: flex;
    position: relative;
    left: 50%;
    max-width: 1200px;
    height: fit-content;
    padding: 40px 0 200px 0;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    transform: translateX(-50%);
    box-sizing: border-box;
}

.card{
    margin: 70px 40px;
}

.imgBox{
    position: relative;
    left: 50%;
    width: 200px;
    height: 200px;
    margin: 0;
    transform: translateX(-50%);
    overflow: hidden;
    border-radius: 100%;
}

.imgBox img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details{
    color: rgb(240,240,240);
}

.details span {
    display: block;
    color: currentColor;
    padding: 5px;
}

.details .name{
    font-size: 2.3rem;
    font-weight: bold;
}
.details .role{
    font-size: 1.8rem;
    background-color: rgb(194, 11, 11);
    clip-path: polygon(10px 0, calc(100% - 10px) 0, 100% 50%, calc(100% - 10px) 100%, 10px 100%, 0 50%);
}
.details .phone{
    font-family: 'Montserrat';
    letter-spacing: 1px;
}
.details .phone::before{
    content: '( ';
    position: relative;
    top: 2px;
    font-size: 2rem;
    font-weight: bold;
    /* color: #ff3b3b; */
    color: rgb(255,0,0);
}
.details .phone::after{
    content: ' )';
    position: relative;
    top: 2px;
    font-size: 2rem;
    font-weight: bold;
    /* color: #ff3b3b; */
    color: rgb(255,0,0);
}