@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --main-dark1-color: #172134;
  --main-dark2-color: #0F52BA;
  --main-light1-color: #FA8072;
  --main-light2-color: #FFDAB9;
}

.group{
    text-align: center;
    color: var(--main-dark1-color);
    margin-top: 35px;
}

.teamHr{
    width: 100px;
    height: 1px;
    background: var(--main-light1-color);
}
.container_team{
  position: relative;
  display: flex;
  justify-content: center;
}

.container_team .card{
  position: relative;
  width: 280px;
  height: 400px;
  background: #111929;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0.5px 1px #172134 ;
}

.container_team .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e87a6e;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container_team .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container_team .card:after{
  content: '';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.container_team .card .imgBx{
  position: absolute;
  top: 45%;
  transform: translateY(-70%);
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container_team .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.container_team .card .imgBx img{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 200px;
  height: 200px;
  border-radius: 200px;
}

.container_team .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container_team .card:hover .contentBx{
  height: 140px;
}

.container_team .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
  font-size: 2.2rem;
}

.container_team .card .contentBx .size, .container_team .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container_team .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container_team .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container_team .card .contentBx .size h3, .container_team .card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container_team .card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container_team .card .contentBx .size span:hover{
  background: #9bdc28;
}

.container_team .card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container_team .card .contentBx .color span:nth-child(2){
  background: #9bdc28;
}

.container_team .card .contentBx .color span:nth-child(3){
  background: #03a9f4;
}

.container_team .card .contentBx .color span:nth-child(4){
  background: #e91e63;
}

.container_team .card .contentBx a{
    display: inline-block;
    padding: 7px 10px;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 0;
    font-size: 1.8rem;
  }
  
  .container_team .card:hover .contentBx a{
    opacity: 1;
    transform: translateY(5px);
    transition-delay: 0.75s;
    font-size: 1.9rem;
  }
.socialImg{
    width: 40px;
    height: 40px;
}
.techTeam{
    display: grid;
    grid-template-columns: repeat(3,auto);
    margin: 10px 100px;
    grid-row-gap: 40px ;
}
.twoCards{
  display: flex;
  /* grid-template-columns: repeat(2,auto); */
  justify-content: center;
}
.twoCards .container_team{
  margin: 40px 70px;
}
.social_icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 17px;
}
.social_icon:hover{
  box-shadow: 0.5px 0.5px 10.5px 0.5px #f5f5dc4a;
}
@media only screen and (max-width: 1250px) {
    .techTeam{
        margin: 10px 10px;
    }    
}
@media only screen and (max-width: 900px) {
    .techTeam{
        margin: 10px 10px;
    }    
    .container_team .card{
        width: 240px;
        height: 370px;
    }
    .container_team .card:hover .contentBx{
        height: 140px;
    }      
    .container_team .card .imgBx img{
        transform: translate(-50%, -47%);
    }
}

@media only screen and (max-width: 750px) {
    
    .techTeam{
        display: flex;
        flex-direction: column;
    }
    .twoCards{
      flex-direction: column;
    }
    .container_team{
        margin: 10px;
    }  
    .twoCards .container_team{
      margin: 10px;
    }
}

.contentBx p{
  color: #d5877e;
}